.MuiCard-root {
	min-height: 170px;
	.MuiTypography-root {
		font-weight: bold;
		margin-bottom: 5px;
		font-size: 24px;
		margin-bottom: 0;
	}
	.MuiTypography-h5 {
		font-size: 1.5rem;
		font-weight: normal;
		line-height: 1.5rem;
	}

	.MuiTypography-body2 {
		font-size: 0.9rem;
		font-weight: normal;
		line-height: 0.9rem;
	}
}