.header {
	font-size: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  
    .logo {
		background-color: transparent;
		padding-top: 10px;
		padding-left: 60px;
		height: 80px;
		width: 80px;
		display: inline;
    }
	.header-list {
		display: flex;
		justify-content: flex-end;
		list-style: none;
		margin: 0;		
	
		.header-list-item {
			display: inline-block;
			padding: 1.25rem 3rem;
			position: relative;
			cursor: pointer;
			&:hover {
				color: #CA82FF;
				&::after {
					transform: scaleX(1);
					transform-origin: bottom left;
					
				}
			}
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 2px;
				bottom: 0;
				left: 0;
				background-color: #CA82FF;
				transform-origin: bottom right;
				transition: transform 0.25s ease-out;
			}
		}
		.active {
			color: #CA82FF;
		}
	}
}

